@import './../../styles/__variables.scss';
@import './../../styles/_keyframes.scss';

.loader-div {

    .blink-loader {
        font-family: $fontPressStart;
        color: $colorWhite;
        text-align: center;
        margin: auto;
        font-size: 1em;
        letter-spacing: .05em;
        margin-bottom: 5vh;
        animation: blink 1s steps(2, start) infinite;
    }

}