@import './_variables';
@import './_mixins';

  
.start-btn {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    @include border-radius(7px);
    box-shadow: 0 .2em gray;
    cursor: pointer;
    font-family: $fontPressStart;
    text-decoration: none;
    font-size: 3em;

    &:active {
      box-shadow: none;
      position: relative;
      top: .2em;
    }
    
 }


.blink-start {
  font-family: $fontPressStart;
  color: #fff;
  text-align: center;
  margin: auto;
  font-size: 1.5em;
  letter-spacing: .05em;
  margin-bottom: 5vh;
  animation: blink 1s steps(4, start) infinite;
  }
