@import './_variables';
@import './_mixins';
@import './_keyframes';

#background {
	background: $parallaxBackground;
	position: absolute;
	z-index: 100;

	@include directions(0, 0, 0, 0);
	@include animation(STAR-MOVE, 200s, linear, infinite);
}

#midground {
	background: $parallaxMidground;
	position: absolute;
	z-index: 200;

	@include directions(0, 0, 0, 0);
	@include animation(STAR-MOVE, 150s, linear, infinite);
}

#foreground {
	background: $parallaxForeground;
	position: absolute;
	z-index: 300;
	
	@include directions(0, 0, 0, 0);
	@include animation(STAR-MOVE, 100s, linear, infinite);
}