@import './../../styles/_variables';
@import './../../styles/buttons.scss';
@import './../../styles/_keyframes.scss';


.startpage{

    text-align: center;

    img{
        width: 100%;
        margin-bottom: 5vh;
    }

}
